@import url(reset.css);

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(248, 210, 161, 0.4);
    font-weight: 700;
}
hr {
    border: 3px solid #333;
    width: 100%;
}


.main-nav{
    width: 100%;
    height: 100%;
    background-color: rgba(175, 249, 46, 0.5);
}
.main-nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main-nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav ul li a{
    padding: 1.5em;
    text-decoration: none;
    color: coral;
    font-size: 15pt;
    text-align: center;
    transition: 0.5s;
}
.main-nav ul li a:hover{
    background-color: rgba(255, 161, 127, 0.5);
    transition: 0.3s;
}
h1{
    font-size: 50pt;
    text-align: center;
    color: azure;
    background-color: #333;
}
#anchor-tag{
    width: 100%;
    height: 100%;
    margin-top: -45pt;
}
#anchor-tag ul{
    width: 100%;
    height: 10pt;
    display: flex;
    justify-content: space-around;
}
#anchor-tag ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #333;
    height: 25px;
    border-radius: 25px;
    background-color: rgba(145, 145, 145, 0.6);
    transition: 0.5s;
}
#anchor-tag ul li:hover{
    background-color: rgb(83, 83, 83);
    transition: 0.5s;
}
#anchor-tag ul li a{
    padding: 1.1em;
    text-decoration: none;
    color: #fff;
    font-size: 15pt;
    text-align: center;
    transition: 0.5s;
}
#anchor-tag ul > li > a{
    text-decoration: none;
}
#hr-1{
    margin-top: -65pt;
}
h2{
    font-size: 25pt;
    text-align: left;
    color:#333;
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}
div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}
section > h3{
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding: .2em;
    color: rgb(255, 255, 255);
    background-color: rgb(145, 145, 145);
    margin-bottom: 2em;
}
section > ul > li{
    font-size: 20px;
    margin-left: 30px;
    list-style-type: disc;
    padding: 1.3em;
}
section > ul{
    height:100% ;
}
#creds li{
    font-size: 20px;
    margin-left: 40px;
    list-style-type: disc;
    padding: .6em;
}
#creds{
    text-align:left;
    width: 80%;
}
h4{
    font-size: 18pt;
    background-color: #333;
    color: #ccc;
    padding: 0.5em;
    width: 100%;
}
#projects ul li{
    padding: 0.7em;
    margin-left: 1em;
    list-style-type: disc;
    font-size: 20px;
    margin-left: 40px;
    list-style-type: disc;
    padding: .6em;
}
#projects ul li a:hover{
    color: #333;
    background-color: orange;
    transition: 0.5s;
}
#projects ul li a{
    color: chocolate;
    font-size: 15pt;
    padding: 0.5em;
    text-decoration: none;
    border: #333 1.5px solid;
    border-radius: 45%;
}
#footbar{
    margin-right: 70em;
}

#footbar li a:hover{
    color: coral;
    transition: 0.5s;
}
#footbar li{
    font-size: 15px;
    margin-left: 1px;
    padding: .5em;
}
#footbar li a{
    text-decoration: none;
    color: #333;
}
#pfoot1 p{
    margin-right: 50em;
}
#icons{
    margin-left: 70em;
    margin-right: 40em;
    margin-bottom: 90em;
    margin-top: -10em;
    padding: 5%;
}

#foot li a:hover{
    color: #333;
    transition: 0.5s;
}
.fa-square-instagram{
    
    
    color: coral;
    transition: 0.5s;
    
}
.fa-square-twitter{
    color: coral;
    transition: 0.5s;
      
      
}
.fa-square-facebook{
    transition: 0.5s;
    color: coral;
}
.fa-linkedin{
    transition: 0.5s;
    color: coral;
}
.fa-square-twitter:hover{
    color: #333;
    transition: 0.5s;
}
.fa-square-instagram:hover{
    color: #333;
    transition: 0.5s;
}
.fa-linkedin:hover{
    color: #333;
    transition: 0.5s;
}
.fa-square-facebook:hover{
    color: #333;
    transition: 0.5s;
}

#icons{
    position: relative;left:25px;top:5px;
}
.fa-square-facebook{
    position: relative;left:-50px;top: -144px;
}
.fa-linkedin{
    position: relative;left: -50px;top:-48px;
}
p{
    font-size: 15pt;
    padding: 1em;
}